<section class="section about-me">
	<div class="section__title">About Me</div>
	<div class="section__content">
		<p>
			I'm currently a Full-Stack / RPA Developer at Minsait, Indra. I'm taking
			care of all the RPA structure for Danone as well as developing new
			projects for them.
		</p>

		<p>
			I have a bachleor in Informatics Engineering from
			<a
				class="underline-link"
				href="https://www.fib.upc.edu/en"
				target="_blank"
				>FIB-UPC</a
			>, with a specialization in Computer Science.
		</p>
	</div>
</section>
