.intro {
  padding: 20vh 10vw;
  height: 100vh; // 100% height of the viewport
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  @include desktop {
    padding: 15vh 10vw;
    display: block;
    justify-content: center;
  }
  &__text {
    margin-top: 15vh;
    &__tagline {
      font-size: 2.5rem;
      font-weight: 300;
      max-width: 700px;
      @include desktop {
        font-size: 1.5rem;
        margin-top: 0;
      }
      .emoji {
        width: 40px;
        height: 40px;
        @include mobile {
          width: 25px;
          height: 25px;
        }
      }
      .name {
        font-weight: 700;
      }
      .raisedhands {
        background-image: url('../assets/img/raisedhands.png');
      }
    }
    &__contact {
      font-size: 1.25rem;
      font-weight: 400;
      @include mobile {
        font-size: 1rem;
      }
      .highlight-link {
        @include transition;
        font-weight: 400;
        text-decoration: none;
        display: inline-block;
        padding: 2px 3px;
        text-decoration: none;
        box-shadow: inset 0 -3px 0 $blue;
        &:hover {
          box-shadow: inset 0 -33px 0 0 $blue;
          color: $white;
        }
      }
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    &__avatar {
      border-radius: 50%;
      @include mobile {
        height: 150px;
        width: 150px;
      }
    }
  }
}
